{# templates/game/play.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Play Card Game blackjack{% endblock %}

{% block body %}
<h1>Card Game blackjack</h1>
<a href="{{ path('game_reset') }}" class="btn btn-danger">Back to cardgame landingpage</a>
<br><br>
<a href="{{ path('game_play_again') }}" class="btn btn-danger">Play again</a>
<br><br>






<p>Current Players Turn: {{ currentPlayer + 1}}</p>

{% for playerIndex, player in players %}
    <h2>Player {{ playerIndex + 1 }}'s Hand</h2>
    <p>current players handvalue: {{handValues[playerIndex]}}</p>
    <p>player {{ playerIndex + 1}} results: {{results[playerIndex]}}</p>
    <p class="card-utf8">
        {% for card in player.getCards() %}
            <i class="{{ card.graphic() }}"></i>
        {% endfor %}
    </p>
{% endfor %}

<h2>Bank's Hand</h2>
<p>current Bank handvalue: {{bankValue}}</p>
<p class="card-utf8">
    {% for card in bank %}
        <i class="{{ card.graphic() }}"></i>
    {% endfor %}
</p>

{# <h1>Deck of Cards</h1>
<p class="card-utf8">
    {% for card in cards %}
        <i class="{{ card.graphic() }}"></i>
    {% endfor %}
</p> #}

{% endblock %}
