<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="site-header">
            <span class="site-title">My Symfony Site</span>
        </header>
        <nav class="main-navbar">
            <ul>
                <li><a href="{{ path('homepage') }}">Homepage</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('report') }}">Report</a></li>
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('lucky') }}">Lucky (kmom01)</a></li>
                <li><a href="{{ path('api_landing') }}">Api Landing</a></li>
                <li><a href="{{ path('lucky_number') }}">Lucky number</a></li>
            </ul>
        </nav>
        <div class="site-content">
            {% block body %}{% endblock %}
        </div>

        <footer class="main-footer">
            <p>&copy; {{ currentYear }} Tim's symfony sida. All rights reserved.</p>
        </footer>
    </body>
</html>
